@{ 
    var joku = "Jack Russell";
    var txtfilu = Server.MapPath("~/App_Data/Oppilaat20160915.txt");
    Array oppilaat = File.ReadAllLines(txtfilu);
}
<!DOCTYPE html>
<html>
    <head>
        <title>My First Razor Page</title>
    </head>
    <body>
        <h1>Hello @joku, tässä tänään @DateTime.Today.ToShortDateString() läsnäolevat oppilaat</h1>
        <div>
            <p>
                @{ 
                    int i = 0;
                    foreach (var oppilas in oppilaat)
                    {
                        @oppilas <br/>
                        i++;
                    }
                    @: oppilaita oli paikalla @i <br/>
                }
            </p>
        </div>
    </body>
</html>
